body {
    /* background-color: ; */
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
}

.nav-item {
    display: flex;
    align-items: center;

    margin-right: 0.6em;
    width: 2em;
    height: 2em;
}
.nav-item-icon {
    width: 100px;
}