html {
    /* background-image: url("../images/topography.svg"); */
    background-color: var(--main);
}
.bg-img {
    position: fixed;
    background-image: url("../images/used/topography.svg");
    background-repeat: repeat;
    width: 100vw;
    height: 200vw;

    z-index: -1000;
}

body {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    /* background-color: #1f1d1a; */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    gap: 0.5em;
    min-width: 50em;
    max-width: 60%;
    /* min-height: 96.2vh; */
    padding: 1em 1.25em;

    background-color: var(--bg);
}

footer {
    display: flex;
    /* position: sticky; */
    flex-direction: row;
    justify-content: space-between;

    bottom: 0;
    padding: 0em 0.5em;
    color: var(--second);

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}
footer p {color: white;}
/* footer > * {
    margin: 0em 0.5em;
} */
.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
}


@media (max-width: 850px) {
    header {
        display: none !important;
        position: relative;
        width: 70% !important;
        right: 15% !important;
    }
    .container {
        width: 100vw !important;
        min-width: 10em;
        max-width: unset;
    }
    .footer-content {
        flex-direction: row;
        justify-content: space-around !important;
        align-items: center;
        width: 100%;
    }
    .footer-right {
        display: none;
    }
}