p, i, li {
    color: var(--font);
}

a {
    text-decoration: none;
    color: var(--link);
}
a:hover {
    filter: brightness(120%);
}

h3 {
    padding-bottom: 0.4em;

    color: var(--detail);
    border-bottom-style: dotted;
    border-bottom-color: var(--detail);
}

/*  ================ Custom Styles ================  */

.menue-container {
    width: 100%;

    background-color: var(--main);
    box-shadow: -1px -1px 1px #00000080;

    border-radius: 2px;
    transition: 1s;
}
.panel {
    display: flex;
    box-sizing: border-box;
    
    background-color: var(--detail);
    border-radius: 0.5em;
}

.smooth-image {
    border-color: var(--main);
    border-width: 1px;
    border-style: solid;
    border-radius: 1em;
}

.star-list {
    list-style-image: url("../../images/used/default-ster.svg");
}
.second-star-list {
    list-style-image: url("../../images/used/second-ster.svg");
    list-style-position: inside;
    padding-left: 0em;
}